.btn-logout {
  cursor: pointer;
  border-right: 1px solid rgb(218, 214, 214);
  border-radius: 10px;
}
.img-avatar {
  cursor: pointer;
  border-radius: 50%;
}

.profile-container {
  cursor: pointer;
  padding: 0;
  margin-left: 1em;
}

.center {
  margin-left: calc(20% - 110px);
  
}

@media (max-width: 767px) {
  .avatar-container {
    padding-top: 1em;
    border-top: 1px solid rgb(218, 214, 214);
  }
}
