<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a
        style="cursor: pointer;"
        class="navbar-brand"
        (click)="onCollapse(divCollapse)"
        >Recipe App</a
      >
    </div>

    <div class="collapse navbar-collapse" #divCollapse>
      <ul class="nav navbar-nav left">
        <li routerLinkActive="active" *ngIf="isAuth" class="auth">
          <a routerLink="/recipes">Recipes</a>
        </li>
        <li routerLinkActive="active" *ngIf="!isAuth" class="auth">
          <a routerLink="/auth">Authenticate</a>
        </li>
        <li routerLinkActive="active" *ngIf="isAuth" class="auth">
          <a routerLink="/shopping-list">Shopping List</a>
        </li>
      </ul>

      <ul class="nav navbar-nav center">
        <li class routerLinkActive="active" *ngIf="isAuth" class="auth">
          <a routerLink="/profile">Profile</a>
        </li>
        <li routerLinkActive="active" *ngIf="isAuth" class="auth">
          <a routerLink="/chat">Common chat</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/users">Users</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="isAuth" class="auth">
        <li>
          <a class="btn-logout" (click)="onLogout()">Logout</a>
        </li>
        <li routerLinkActive="active">
          <a class="profile-container" routerLink="/profile">
            <img
              width="50px"
              height="50px"
              class="rounded mx-auto d-block img-avatar"
              [src]="userImgUrl | bindToServer"
              alt=""
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
