<h2 class="text-info">Greetings user!</h2>
<p class="text-info">
  Here you can create your own recipe or you can simply choose someone else's
  recipe. Decided with choice, just click on the recipe and send it to your
  shopping list.
</p>
<p class="text-info">
  Where you will also add other ingredients you need. if you have selected the
  ingredients you need just click
  <button class="btn btn-success" type="button">
    Order ingredients</button
  >.
</p>
<hr />
<p class="text-info">
  In the profile you can see your orders and recipes or change your data.
</p>
