<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
    <button
      type="button"
      class="btn btn-primary btn-right"
      (click)="onFilter()"
    >
      <span class="glyphicon glyphicon-cog"></span> Filter
    </button>
  </div>
</div>
<br>
<app-filter-panel *ngIf="filter"></app-filter-panel>
<hr />
<div class="row">
  <div class="col-xs-12" *ngIf="recipesParmsObs | async as recipesParms">
    <app-recipe-item
      *ngFor="let recipeEl of recipesParms.recipes"
      [recipe]="recipeEl"
    ></app-recipe-item>
    <app-pagination
      *ngIf="recipesParms.maxRecipes > recipesParms.recipesOnPage"
      [itemsNumber]="recipesParms.maxRecipes"
      [initialPage]="InitialPage(recipesParms.recipesOnPage)"
      [pageSize]="recipesParms.recipesOnPage"
      (changePage)="onChangePage($event)"
    ></app-pagination>
  </div>
</div>
