<!-- Profile Settings-->
<div class="col-lg-8 pb-5">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="account-fn">First Name</label>
        <input
          class="form-control"
          type="text"
          id="account-fn"
          formControlName="firstName"
        />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="account-ln">Last Name</label>
        <input
          class="form-control"
          type="text"
          id="account-ln"
          formControlName="secondName"
        />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="account-email">E-mail Address</label>
        <input
          class="form-control"
          type="email"
          id="account-email"
          formControlName="email"
        />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="account-phone">Phone Number</label>
        <input
          class="form-control"
          type="text"
          id="account-phone"
          formControlName="phoneNumber"
        />
      </div>
    </div>
    <div formGroupName="passwords">
      <div class="col-md-6">
        <div class="form-group">
          <label for="account-pass">New Password</label>
          <input
            class="form-control"
            type="password"
            id="account-pass"
            formControlName="password"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="account-confirm-pass">Confirm Password</label>
          <input
            class="form-control"
            type="password"
            id="account-confirm-pass"
            formControlName="secondPassword"
          />
        </div>
      </div>
    </div>

    <div class="col-12">
      <hr class="mt-2 mb-3" />
      <div
        class="password-message"
        *ngIf="
          profileForm.get(['passwords', 'password']).value !=
            profileForm.get(['passwords', 'secondPassword']).value &&
          profileForm.get(['passwords', 'secondPassword']).value != null
        "
      >
        Password does not match
      </div>
      <div class="d-flex flex-wrap justify-content-between align-items-center">
        <button
          class="btn btn-style-1 btn-primary"
          type="submit"
          [disabled]="
            (profileForm.get(['passwords', 'password']).value !=
              profileForm.get(['passwords', 'secondPassword']).value &&
            profileForm.get(['passwords', 'secondPassword']).value != null)
            || profileForm.invalid
          "
        >
          Update Profile
        </button>
      </div>
    </div>
  </form>
</div>
